In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key
import pyowm
#owm = pyowm.OWM(weather_api_key)

from ipywidgets.embed import embed_minimal_html

In [2]:
vacation_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Busselton,AU,69.01,clear sky,-33.64,115.35,Observatory Guest House
1,2,Jamestown,AU,78.06,clear sky,-33.21,138.60,Jamestown Motel Terraces
2,3,Kolokani,ML,80.65,broken clouds,13.58,-8.03,Lycee Famolo Coulibalibali De Kolokani
3,7,Los Llanos De Aridane,ES,69.80,broken clouds,28.66,-17.92,Valle Aridane
4,9,Oussouye,SN,77.00,overcast clouds,12.49,-16.54,Auberge du Routard

In [3]:
#Identify cities based on the country location

preferred_vacation_data_df = vacation_data_df.loc[(vacation_data_df["Country"] == 'AU')]

preferred_vacation_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Busselton,AU,69.01,clear sky,-33.64,115.35,Observatory Guest House
1,2,Jamestown,AU,78.06,clear sky,-33.21,138.60,Jamestown Motel Terraces
8,15,Codrington,AU,81.00,clear sky,-28.95,153.24,NaN
9,16,Dubbo,AU,78.80,scattered clouds,-32.25,148.60,Comfort Inn Blue Lagoon
17,40,Griffith,AU,81.00,clear sky,-34.29,146.06,Econo Lodge Griffith Motor Inn
45,97,Mildura,AU,84.99,clear sky,-34.18,142.16,Mercure Hotel Mildura
50,106,Clarence Town,AU,82.00,clear sky,-32.59,151.78,River Downs Cottage
54,113,Mudgee,AU,75.00,clear sky,-32.60,149.59,Comfort Inn Aden Mudgee
57,119,Broken Hill,AU,78.80,clear sky,-31.97,141.45,Royal Exchange Hotel

In [4]:
#Create frames for four cities

vacation_data_df_jamestown = vacation_data_df.loc[(vacation_data_df["City"]=="Jamestown")]

vacation_data_df_dubbo = vacation_data_df.loc[(vacation_data_df["City"]=="Dubbo")]

vacation_data_df_mildura = vacation_data_df.loc[(vacation_data_df["City"]=="Mildura")]

vacation_data_df_griffith = vacation_data_df.loc[(vacation_data_df["City"]=="Griffith")]


vacation_data_df_jamestown
vacation_data_df_dubbo

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,16,Dubbo,AU,78.8,scattered clouds,-32.25,148.6,Comfort Inn Blue Lagoon

In [5]:
vacation_four_cities_df = pd.concat([vacation_data_df_jamestown, vacation_data_df_dubbo, vacation_data_df_mildura, vacation_data_df_griffith])

vacation_four_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,2,Jamestown,AU,78.06,clear sky,-33.21,138.60,Jamestown Motel Terraces
9,16,Dubbo,AU,78.80,scattered clouds,-32.25,148.60,Comfort Inn Blue Lagoon
45,97,Mildura,AU,84.99,clear sky,-34.18,142.16,Mercure Hotel Mildura
17,40,Griffith,AU,81.00,clear sky,-34.29,146.06,Econo Lodge Griffith Motor Inn

In [6]:
#jamestown_lat_lng = (vacation_data_df_jamestown["Lat"], vacation_data_df_jamestown["Lng"])

jamestown_lat_lng = list(vacation_data_df_jamestown[["Lat", "Lng"]].apply(tuple, axis = 1))
pref_jamestown_lat_lng = tuple(jamestown_lat_lng[0])

dubbo_lat_lng = list(vacation_data_df_dubbo[["Lat", "Lng"]].apply(tuple, axis =1))
pref_dubbo_lat_lng = tuple(dubbo_lat_lng[0])

mildura_lat_lng = list(vacation_data_df_mildura[["Lat", "Lng"]].apply(tuple, axis =1))
pref_mildura_lat_lng = tuple(mildura_lat_lng[0])

griffith_lat_lng = list(vacation_data_df_griffith[["Lat", "Lng"]].apply(tuple, axis =1))
pref_griffith_lat_lng = tuple(griffith_lat_lng[0])

#codrington_lat_lng

#a = list(codrington_lat_lng)

#b = tuple(a[0])
#b

In [7]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig =gmaps.figure()
waypoints = [pref_mildura_lat_lng, pref_griffith_lat_lng]

route = gmaps.directions_layer(start = pref_jamestown_lat_lng, end = pref_dubbo_lat_lng, waypoints=waypoints, travel_mode = 'DRIVING')
fig.add_layer(route)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

In [9]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_four_cities_df.iterrows()]

In [10]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = vacation_four_cities_df[["Lat", "Lng"]]
max_temp = vacation_four_cities_df["Max Temp"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.


embed_minimal_html("weather_data/export_four.html", views = [fig])

fig

Figure(layout=FigureLayout(height='420px'))